{extend name="public/base" /} {block name="body"}
<div class="banner2">
    <br>
    <i>Web-client for testing ZSC system</i>
    <br>
    <br>
    <script type="text/javascript">
        getInfo(function () {
            loadHtmlPageBody("agreement-receiver");
        });

    </script>
    <div class="wall">
        <button type="button" onClick="indexjump('zscWallet')">Wallat</button>
        <button type="button" onClick="indexjump('zscProfile')">Profile</button>
        {if condition="$Think.cookie.zscType eq 1"}
        <button type="button" onClick="indexjump('zscTemplates')">Templates</button>
        {else /}
        <button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
        {/if}
        <button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
        <button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
    </div>
    <div id="PageBody">
        <div class="well">
            <text id="info">load。。。(长时间未跳出界面请检查是否成功登录matemask)</text>
        </div>
        <div class="well">
            <table align="center" style="width:600px;min-height:30px">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Balance </td>
                        <td>Details </td>
                    </tr>
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
                <tbody id="agreements">

                </tbody>
            </table>
        </div>
    </div>
</div>
{/block} {block name="script"}

<script type="text/javascript">

    function indexjump(tag) {
        switch (tag) {
            case "zscShowMAdr":
                window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
                break;

            case "zscShowAllAgreements":
                window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";
                break;

            case "zscProfile":
                window.location.href = "{:url('index/zscprovider/zscProfile')}";
                break;

            case "zscTemplates":
                window.location.href = "{:url('index/zscprovider/zscTemplates')}";
                break;

            case "zscWallet":
                window.location.href = "{:url('index/zscprovider/zscWallet')}";
                break;

            case "zscEnableWallet":
                window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
                break;

            case "zscAgreement":
                window.location.href = "{:url('index/zscprovider/zscAgreement')}";
                break;

            case "zscAgreementShow":
                window.location.href = "{:url('index/zscprovider/zscAgreementShow')}";
                break;

        }
    }

    function loadAgreementHtml() {

        var funcShowParaPrefix = "showRecAgrParametersDemo" + "('";
        var funcShowParaSuffix = "')";


        var text = "";

        for (var i = 0; i < zscAgrsRecGM.agrNos; ++i) {
            text += '<tr>'
            text += '   <td><text>' + zscAgrsRecGM.agrNames[i] + '</text></td>'
            text += '   <td><text>' + zscAgrsRecGM.balance[i] + '</text></td>'
            text += '   <td><text>' + zscAgrsRecGM.status[i] + '</text></td>'
            text += '   <td><button type="button" onClick="' + funcShowParaPrefix + zscAgrsRecGM.agrNames[i] + funcShowParaSuffix + '">Show</button></td>'
            text += '</tr>'
            text += '<tr> <td>---</td> <td>---</td> <td>---</td>  </tr>'
        }
        document.getElementById('info').innerHTML =
            zscUser.getUserType() + " - [" + zscUser.getUserName() + "] - purchased agreements:";

        document.getElementById('agreements').innerHTML =
            text;
    }
</script> {/block}