{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">
		getInfo(function(){
			loadEnableWallet();
		});

	</script>
	<div class="wall">
		<button type="button" onClick="indexjump('zscwallet')">Wallat</button>
        <button type="button" onClick="indexjump('zscprofile')">Profile</button>
        {if condition="$Think.cookie.type eq 1"}
        <button type="button" onClick="indexjump('zscTemplates')">Templates</button>
        {else /}
        <button type="button" onClick="indexjump('agreement-receiver')">Agreements</button>
        {/if}
        <button type="button" onClick="indexjump('zscShowallagreements')">Show All Agreements</button>
        <button type="button" onClick="indexjump('zscshowMAdr')">Show Module Adrs</button>
	</div>
	<div>
		<br>
		<b>测试首页</b>
		<br>
		<i>Welcome to the ZSC testing platform</i>
		<br>
	</div>

	<div id="PageBody">
		<div class="well">
			<text id = "info">loading。。。</text>
		</div>
		<div class="well">---------------
			<br>
			<text>第一次使用钱包需启用钱包</text>
			<br>
			<button type="button" onclick="enableTestZSCWalletDemo('EnableZSCWalletHash', 'ZSCHash')">Enable TestZSC Wallet</button>
			<br>
			<text id="EnableZSCWalletHash" value="log:"> </text>
			<br>
			<text>---------------</text>
			<br>
		</div>
	</div>
</div>
{/block}

{block name="script"}

<script type="text/javascript">
    function initClass(tag) { 

        // relogin();
        loadHtmlPageBody(tag);
    }

    function indexjump(tag) {
        switch(tag) {
            case "zscShowMAdr":
                window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
                break;
            
            case "zscShowAllAgreements":
                window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";   
                break;

            case "zscProfile":
                window.location.href = "{:url('index/zscprovider/zscProfile')}";
                break;

             case "zscTemplates":
                window.location.href = "{:url('index/zscprovider/zscTemplates')}";
                break;

            case "zscWallet":
                window.location.href = "{:url('index/zscprovider/zscWallet')}";
                break;

            case "zscEnableWallet":
                window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
                break;

           
        }
    }

</script> {/block}