{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">
		getInfo();

	</script>
	<div class="wall">
		<button type="button" onClick="initClass('wallet')">Wallat</button>
		<button type="button" onClick="initClass('parameter-profile')">Profile</button>
		{if condition="$Think.cookie.type eq 1"}
		<button type="button" onClick="initClass('template')">Templates</button>
		{else /}
		<button type="button" onClick="initClass('agreement-receiver')">Agreements</button>
		{/if}
		<button type="button" onClick="initClass('agreement-all')">Show All Agreements</button>
		<button type="button" onClick="initClass('module-adrs')">Show Module Adrs</button>
	</div>
	<div>
		<br>
		<b>测试首页</b>
		<br>
		<i>Welcome to the ZSC testing platform</i>
		<br>
	</div>

	<div id="PageBody">
		<div class="well">
			<text> provider [zsc-yTXD] - wallet info </text>
		</div>
		<div class="well">---------------
			<br>
			<button type="button" onclick="enableTestZSCWallet('EnableZSCWalletHash', 'ZSCHash')">Enable TestZSC Wallet</button>
			<br>
			<text id="EnableZSCWalletHash" value="log:"> </text>
			<br>
			<text>---------------</text>
			<br>
		</div>
	</div>
</div>
{/block}

