{extend name="public/base" /} {block name="body"}
<div class="banner2">
    <br>
    <i>Web-client for testing ZSC system</i>
    <br>
    <br>
    <script type="text/javascript">
        getInfo(function() {
            console.log("welcome");
        });
        
    </script>
    <div class="wall">
        <button type="button" onClick="indexjump('zscWallet')">Wallat</button>
        <button type="button" onClick="indexjump('zscProfile')">Profile</button>
        {if condition="$Think.cookie.zscType eq 1"}
        <button type="button" onClick="indexjump('zscTemplates')">Templates</button>
        {else /}
        <button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
        {/if}
        <button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
        <button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
    </div>
    <div>
        <br>
        <b>测试首页</b>
        <br>
        <i>Welcome to the ZSC testing platform</i>
        <br>
        <text id = "setType"></text>
    </div>
</div>
{/block} {block name="script"}

<script type="text/javascript">

    function indexjump(tag) {
        switch(tag) {
            case "zscShowMAdr":
                window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
                break;
            
            case "zscShowAllAgreements":
                window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";   
                break;

            case "zscProfile":
                window.location.href = "{:url('index/zscprovider/zscProfile')}";
                break;

             case "zscTemplates":
                window.location.href = "{:url('index/zscprovider/zscTemplates')}";
                break;

            case "zscWallet":
                window.location.href = "{:url('index/zscprovider/zscWallet')}";
                break;

            case "zscEnableWallet":
                window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
                break;

            case "zscAgreement":
                window.location.href = "{:url('index/zscprovider/zscAgreement')}";
                break;
 
        }
    }


</script> {/block}