{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">
		getInfo(function () {
			loadHtmlPageBody("agreement-all");
		});

	</script>
	<div class="wall">
		<button type="button" onClick="indexjump('zscWallet')">Wallat</button>
		<button type="button" onClick="indexjump('zscProfile')">Profile</button>
		{if condition="$Think.cookie.type eq 1"}
		<button type="button" onClick="indexjump('zscTemplates')">Templates</button>
		{else /}
		<button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
		{/if}
		<button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
		<button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
	</div>
	<div>
		<br>
		<b>测试首页</b>
		<br>
		<i>Welcome to the ZSC testing platform</i>
		<br>
	</div>

	<div id="PageBody">
		<div class="well">
			<text>All published agreements: </text>
		</div>
		<div class="well">
			<div class="well">
				<text> Purchase agreement: </text>
				<text id="PurchaseAgreementHash"> </text>
			</div>
			<table align="center" style="width:600px;min-height:30px">
				<tbody>
					<tr>
						<td>Index</td>
						<td>Name</td>
						<td>Status</td>
						<td> Details </td>
						{if condition="$Think.cookie.type eq 1"}
						<td> </td>
						{else /}
						<td> Purchase </td>
						{/if}
					</tr>
					<tr>
						<td>---</td>
						<td>---</td>
						<td>---</td>
						<td>---</td>
						{if condition="$Think.cookie.type eq 0"}
						<td>---</td>
						{else /}
						<td></td>
						{/if}
					</tr>
				</tbody>

				<tbody id="allAgreementsList"></tbody>

			</table>
		</div>
	</div>
</div>
{/block} {block name="script"}

<script type="text/javascript">

	function indexjump(tag) {
		switch (tag) {
			case "zscShowMAdr":
				window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
				break;

			case "zscShowAllAgreements":
				window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";
				break;

			case "zscProfile":
				window.location.href = "{:url('index/zscprovider/zscProfile')}";
				break;

			case "zscTemplates":
				window.location.href = "{:url('index/zscprovider/zscTemplates')}";
				break;

			case "zscWallet":
				window.location.href = "{:url('index/zscprovider/zscWallet')}";
				break;

			case "zscEnableWallet":
				window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
				break;

			case "zscShowAllAgrsDetail":
				window.location.href = "{:url('index/zscprovider/zscShowAllAgrsDetail')}";
				break;

			case "zscAgreement":
                window.location.href = "{:url('index/zscprovider/zscAgreement')}";
                break;

		}
	}

	function loadShowAllAgreementsHtml() {

		var text = "";
		var showPrefix = "showAllAgrParametersDemo" + "('";
		var showSuffix = "')";

		var purchasePrefix = "submitPurchaseAgreement" + "('";
		var purchaseSuffix = "')";

		for (var i = 0; i < zscAgrsAllGM.allAgrNos; ++i) {
			if (zscAgrsAllGM.allAgrStatus[i] == "PUBLISHED") {
				text += '<tr>'
				text += '   <td><text>' + i + '</text></td>'
				text += '   <td><text>' + zscAgrsAllGM.allAgrNames[i] + '</text></td>'
				text += '   <td><text>' + zscAgrsAllGM.allAgrStatus[i] + '</text></td>'
				text += '   <td><button type="button" onClick="' + showPrefix + zscAgrsAllGM.allAgrNames[i] + showSuffix + '">Details</button></td>'
				if (zscAgrsAllGM.userType == "receiver") {
					text += '   <td><button type="button" onClick="' + purchasePrefix + zscAgrsAllGM.allAgrNames[i] + purchaseSuffix + '">Purchase</button></td>'
				}
				text += '<tr> <td>---</td> <td>---</td> <td>---</td>  <td>---</td></tr>'
				text += '</tr>'
			}
		}

		document.getElementById('allAgreementsList').innerHTML =
			text;
	}

	function showAllAgrParametersDemo(elementName) {
		setCookie("elementName", elementName);
		indexjump("zscShowAllAgrsDetail");
	}

</script> {/block}