{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">
		getInfo(function () {
			loadHtmlPageBody("template");
		});

	</script>
	<div class="wall">
		<button type="button" onClick="indexjump('zscWallet')">Wallat</button>
		<button type="button" onClick="indexjump('zscProfile')">Profile</button>
		{if condition="$Think.cookie.zscType eq 1"}
		<button type="button" onClick="indexjump('zscTemplates')">Templates</button>
		{else /}
		<button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
		{/if}
		<button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
		<button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
	</div>
	<div>
		<br>
		<b>测试首页</b>
		<br>
		<i>Welcome to the ZSC testing platform</i>
		<br>
	</div>

	<div id="PageBody">

		<div class="well">
			<text id="info">load。。。(长时间未跳出界面请检查是否成功登录matemask)</text>
		</div>

		{if condition="$Think.cookie.zscType eq 1"}
		<div class="well">
			<button type="button" onclick="creatNewTemplate('CreateNewTemplateHash')">Create New Template</button>
			<br>
			<text id="CreateNewTemplateHash"> </text>
		</div>
		{/if}

		<div class="well">
			<div class="well">
				<text> Note - 1: "Adding" is to create an insurance agreement from a template. </text>
				<br>
				<text> Note - 2: Due to the confirmation time on the (Rinkeby) Ethereum platform, need to add one by one. </text>
				<br>
				<text> Adding agreement: </text>
				<text id="CreateNewAgreementHash"> </text>
			</div>

			<table align="center" style="width:700px;min-height:30px">
				<tbody>
					<tr>
						<td>Name</td>
						<td>Details</td>
						<td>Add as Agreement </td>
						<td>Added Nos. </td>
						<td>List </td>
					</tr>

					<tr>
						<td>---</td>
						<td>---</td>
						<td>---</td>
						<td>---</td>
						<td>---</td>
					</tr>
					<tbody id="templateList">

					</tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block} {block name="script"}

<script type="text/javascript">

	function indexjump(tag) {
		switch (tag) {
			case "zscShowMAdr":
				window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
				break;

			case "zscShowAllAgreements":
				window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";
				break;

			case "zscProfile":
				window.location.href = "{:url('index/zscprovider/zscProfile')}";
				break;

			case "zscTemplates":
				window.location.href = "{:url('index/zscprovider/zscTemplates')}";
				break;

			case "zscWallet":
				window.location.href = "{:url('index/zscprovider/zscWallet')}";
				break;

			case "zscEnableWallet":
				window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
				break;

			case "zscTemplateEdit":
				window.location.href = "{:url('index/zscprovider/zscTemplateEdit')}";
				break;

			case "zscTemplateList":
				window.location.href = "{:url('index/zscprovider/zscTemplatesList')}";
				break;

			case "zscAgreement":
                window.location.href = "{:url('index/zscprovider/zscAgreement')}";
                break;

		}
	}

	function loadTemplatesHtml() {

		var funcSetParaPrefix = "showTemplateParametersDemo" + "('";
		var funcSetParaSuffix = "')";

		var funcPublishPrefix = "enableAsAgreement" + "('";
		var funcPublishSuffix = "')";

		var showAgrsPrefix = "showProvidersAgreementsDemo" + "('";
		var showAgrsSuffix = "')";

		var text = "";
		for (var i = 0; i < zscTmpsGM.tmpNos; ++i) {
			text += '<tr>'
			text += '   <td><text>' + zscTmpsGM.tmpNames[i] + '</text></td>'
			text += '   <td><button type="button" onClick="' + funcSetParaPrefix + zscTmpsGM.tmpNames[i] + funcSetParaSuffix + '">Edit</button></td>'
			text += '   <td><button type="button" onClick="' + funcPublishPrefix + i + funcPublishSuffix + '">Add</button></td>'
			text += '   <td><text>' + zscTmpsGM.tmpChildrenNos[i] + '</text></td>'
			text += '   <td><button type="button" onClick="' + showAgrsPrefix + zscTmpsGM.tmpNames[i] + showAgrsSuffix + '">List</button></td>'
			text += '</tr>'
			text += '<tr> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> </tr>'
		}

		document.getElementById('info').innerHTML =
			zscUser.getUserType() + " - [" + zscUser.getUserName() + "] - Templates Info";

		document.getElementById('templateList').innerHTML =
			text;
	}

	function showTemplateParametersDemo(elementName) {
		setCookie("elementName", elementName);
		indexjump("zscTemplateEdit");
	}

	function showProvidersAgreementsDemo(elementName) {
		setCookie("elementName", elementName);
		indexjump("zscTemplateList");
	}

</script> {/block}