{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">

		getInfo(function () {
			let elementName = getCookie("elementName");
			showTemplateParameters(elementName);
		});


	</script>
	<div class="wall">
		<button type="button" onClick="indexjump('zscWallet')">Wallat</button>
		<button type="button" onClick="indexjump('zscProfile')">Profile</button>
		{if condition="$Think.cookie.zscType eq 1"}
		<button type="button" onClick="indexjump('zscTemplates')">Templates</button>
		{else /}
		<button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
		{/if}
		<button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
		<button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
	</div>

	<div id="PageBody">
		<div class="well">
			<text id = "info">load。。。(长时间未跳出界面请检查是否成功登录matemask)</text>
		</div>
		<div class="well">
			<table align="center" style="width:600px;min-height:30px">
				<tbody id="templateEdit">

				</tbody>
			</table>
		</div>
		<div>
			<button type="button" onclick="submitParameterTemplateChanges('ButtonActiveHash')">Submit Changes</button>
			<button type="button" onclick="backToProTmpDemo()">Back</button>
			<text id="ButtonActiveHash"></text>
		</div>
	</div>
</div>
{/block}{block name="script"}

<script type="text/javascript">

	function indexjump(tag) {
		switch (tag) {
			case "zscShowMAdr":
				window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
				break;

			case "zscShowAllAgreements":
				window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";
				break;

			case "zscProfile":
				window.location.href = "{:url('index/zscprovider/zscProfile')}";
				break;

			case "zscTemplates":
				window.location.href = "{:url('index/zscprovider/zscTemplates')}";
				break;

			case "zscWallet":
				window.location.href = "{:url('index/zscprovider/zscWallet')}";
				break;

			case "zscEnableWallet":
				window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
				break;

			case "zscAgreement":
                window.location.href = "{:url('index/zscprovider/zscAgreement')}";
                break;

		}
	}

	function loadTemplateEditHtml() {

		var text = "";

		for (var i = 0; i < zscElement.parameNos; ++i) {
			paraName = zscElement.parameterNames[i];
			if (paraName == "duration") {
				paraName += " (seconds) [>=60]";
			} else if (paraName == "price") {
				paraName += " [>0]";
			} else if (paraName == "insurance") {
				paraName += " (locked for claim) [>0]";
			}
			text += '<tr>'
			text += '  <td> <text>' + paraName + ': </text> </td>'
			text += '  <td> <input type="text" id="' + zscElement.parameterNames[i] + '" value="' + zscElement.parameterValues[i] + '"></input> </td>'
			text += '</tr>'
		}

		document.getElementById('info').innerHTML =
			"entity [" + zscElement.enName + "] details: ";

		document.getElementById('templateEdit').innerHTML =
			text;
	}

	function backToProTmpDemo() {
		indexjump("zscTemplates");
	}

</script> {/block}