{extend name="public/base" /} {block name="body"}
<div class="banner2">
   <div id="PageBody">
   		<div class="well"> 
   			<text>provider [ddt-02] - templates info </text>
   		</div>

   		<div class="well">   
   			<button type="button" onclick="creatNewTemplate('CreateNewTemplateHash')">Create New Template</button> <br>   
   			<text id="CreateNewTemplateHash">(failure)0x7d5d65de0111af6721101b531f745442e3b6606fb824cd76f42487e4e6066914</text>
   		</div>

   		<div class="well">   
   			<div class="well">      
   				<text> Note - 1: "Adding" is to create an insurance agreement from a template. </text><br>      
   				<text> Note - 2: Due to the confirmation time on the (Rinkeby) Ethereum platform, need to add one by one. </text><br>      
   				<text> Adding agreement: </text> 
   				<text id="CreateNewAgreementHash"> </text>   
   			</div>

   			<table align="center" style="width:700px;min-height:30px">
   				<tbody>
   					<tr>   
   						<td>Name</td> 
   						<td>Details</td> 
   						<td>Add as Agreement </td>   
   						<td>Added Nos. </td>  
   						<td>  </td> 
   					</tr>

   					<tr> 
   						<td>---</td> 
   						<td>---</td> 
   						<td>---</td> 
   						<td>---</td> 
   						<td>---</td> 
   					</tr>
   				</tbody>
   			</table>
   		</div>
   	</div> 
</div>
{/block}