{extend name="public/base" /} {block name="body"}
<div class="banner2">
    <div id="PageBody">
    	<div class="well"> 
    		<text>provider [zsc-yTXD] - templates info </text>
    	</div>
    	<div class="well">   
    		<button type="button" onclick="creatNewTemplate('CreateNewTemplateHash')">Create New Template</button> <br>   
    		<text id="CreateNewTemplateHash"> </text>
    	</div>
    	<div class="well">   
    		<div class="well">      
    			<text> Note - 1: "Adding" is to create an insurance agreement from a template. </text><br>      
    			<text> Note - 2: Due to the confirmation time on the (Rinkeby) Ethereum platform, need to add one by one. </text><br>      
    			<text> Adding agreement: </text> 
    			<text id="CreateNewAgreementHash"> </text>   
    		</div>
    		<table align="center" style="width:700px;min-height:30px">
    			<tbody>
    				<tr>   
    					<td>Name</td> 
    					<td>Details</td> 
    					<td>Add as Agreement </td>   
    					<td>Added Nos. </td>  
    					<td>  </td> 
    				</tr>
    				<tr> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    				</tr>
    				<tr>   
    					<td>
    						<text>zsc-yTXD-tmp-0</text>
    					</td>   
    					<td>
    						<button type="button" onclick="showTemplateParameters('zsc-yTXD-tmp-0')">Edit</button>
    					</td>   
    					<td>
    						<button type="button" onclick="enableAsAgreement('0')">Add</button>
    					</td>   
    					<td>
    						<text>0</text>
    					</td>   
    					<td>
    						<button type="button" onclick="showProvidersAgreements('zsc-yTXD-tmp-0')">List</button>
    					</td>
    				</tr>
    				<tr> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    					<td>---</td> 
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</div>
{/block}