{extend name="public/base" /} {block name="body"}
<div class="banner2">

	<br>
	<i>Web-client for testing ZSC system</i>
	<br>
	<br>
	<script type="text/javascript">
		getInfo(function () {
			loadHtmlPageBody("wallet");
		});
	</script>
	<div class="wall">
		<button type="button" onClick="indexjump('zscWallet')">Wallat</button>
		<button type="button" onClick="indexjump('zscProfile')">Profile</button>
		{if condition="$Think.cookie.zscType eq 1"}
		<button type="button" onClick="indexjump('zscTemplates')">Templates</button>
		{else /}
		<button type="button" onClick="indexjump('zscAgreement')">Agreements</button>
		{/if}
		<button type="button" onClick="indexjump('zscShowAllAgreements')">Show All Agreements</button>
		<button type="button" onClick="indexjump('zscShowMAdr')">Show Module Adrs</button>
		<!-- <button type="button" onClick="addUserTest()">测试</button> -->
	</div>
	<div>
		<br>
		<b>测试首页</b>
		<br>
		<i>Welcome to the ZSC testing platform</i>
		<br>
	</div>

	<div id="PageBody">
		<div class="well">
			<text id="info">loading。。。(长时间未跳出界面请检查是否成功登录matemask)</text>
		</div>
		<div class="well">
			---------------
			<br> Symbol:
			<text id="walletSymbol"></text>
			<br> Address:
			<text id="walletAddress">

			</text>
			<br> Balance:
			<text id="walletBalance"></text>
			<br>
			<br> ---------------
			<br> Dest-adr
			<input id="ZSCDest">
			<br> Amount:
			<input id="ZSCAmount">
			<br>
			<button type="button" onclick="submitTransferValueDemo('ZSC', 'ZSCDest', 'ZSCAmount', 'ZSCHash')"> Transfer </button>
			<br>
			<text id="ZSCHash" value="log:"> </text>
			<br>
			<text>---------------</text>
			<br>
		</div>
	</div>
</div>
{/block} {block name="script"}
<script type="text/javascript">
	function submitTransferValueDemo(tokenSymbol, destAddressId, amountId, logId) {
		var destAddress = document.getElementById(destAddressId).value;
		var amount = document.getElementById(amountId).value;

		zscWalletGM.submitTransferValue(tokenSymbol, destAddress, amount, logId, function () {
			loadHtmlPageBody("wallet");
		});
	}


	function indexjump(tag) {
		switch (tag) {
			case "zscShowMAdr":
				window.location.href = "{:url('index/zscprovider/zscShowMAdr')}";
				break;

			case "zscShowAllAgreements":
				window.location.href = "{:url('index/zscprovider/zscShowAllAgreements')}";
				break;

			case "zscProfile":
				window.location.href = "{:url('index/zscprovider/zscProfile')}";
				break;

			case "zscTemplates":
				window.location.href = "{:url('index/zscprovider/zscTemplates')}";
				break;

			case "zscWallet":
				window.location.href = "{:url('index/zscprovider/zscWallet')}";
				break;

			case "zscEnableWallet":
				window.location.href = "{:url('index/zscprovider/zscEnableWallet')}";
				break;

			case "zscAgreement":
				window.location.href = "{:url('index/zscprovider/zscAgreement')}";
				break;

		}
	}

	function loadWalletHtml() {
		var adr;
		var balance;

		for (var i = 0; i < zscWalletGM.tokenNos; ++i) {
			symbol = zscWalletGM.tokenSymbol[i];
			adr = zscWalletGM.tokenAddress[i];
			balance = zscWalletGM.tokenBalance[i];
		}

		i = i - 1;

		document.getElementById('info').innerHTML =
			zscWalletGM.getUserType() + " - [" + zscWalletGM.getUserName() + "] - wallet info";

		document.getElementById('walletSymbol').innerHTML =
			symbol;

		document.getElementById("walletAddress").innerHTML =
			"<a href='https://rinkeby.etherscan.io/address/0x" + adr + "#tokentxns' target='_blank'>0x" + adr + "</a>";

		document.getElementById("walletBalance").innerHTML =
			balance;
	}


</script> {/block}